annotated-types==0.7.0
asyncgui==0.6.3
asynckivy==0.6.4
beautifulsoup4==4.12.3
bottle==0.13.2
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
docutils==0.21.2
et_xmlfile==2.0.0
evdev==1.7.1
filetype==1.2.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
httplib2==0.22.0
idna==3.10
keyboard==0.13.5
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==1.2.0
materialyoucolor==2.0.10
numpy==2.2.1
openpyxl==3.1.5
pandas==2.2.3
phonenumbers==8.13.52
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.29.2
proxy_tools==0.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pynput==1.7.7
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
PySide2==5.13.2
python-dateutil==2.9.0.post0
python-xlib==0.33
pytz==2024.2
pywebview==5.4
requests==2.32.3
rsa==4.9
shiboken2==5.13.2
six==1.17.0
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
wikipedia==1.4.0
Wikipedia-API==0.8.1
